:root {
  --default-font-family: 
}
@media (prefers-color-scheme: dark) {
  :root {

  }  
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  width: 90%;
  margin: auto;
  letter-spacing: 1px;
  transition: all 0.5s ease-in-out;
}

main {
  min-height: calc(100vh - 85px);
}